# Dependencies
node_modules
.pnp
.pnp.*

# Build outputs
.next
out
build
dist

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment variables
.env*
!.env.production.example

# Testing
coverage

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Package managers
package-lock.json
yarn.lock
pnpm-lock.yaml

# Logs
logs
*.log

# Convex
.convex

# IDE
.vscode
.idea

# Git
.git
.gitignore

# Docs
*.md
